name: build-binaries

on:
  push:
    branches: ['master']
    paths:
      - 'build/**'
      - 'src/**'
      - 'tests/**'
      - '.editorconfig'
      - 'Directory.Build.props'
      - 'global.json'
      - '.github/workflows/build-binaries.yml'
  pull_request:
    branches: ['master']
    paths:
      - 'build/**'
      - 'src/**'
      - 'tests/**'
      - '.editorconfig'
      - 'Directory.Build.props'
      - 'global.json'
      - '.github/workflows/build-binaries.yml'
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      is_workflow_call:
        type: boolean
        required: false
        default: true

concurrency: # head_ref is only defined on pull_request events, run_id is unique for each workflow run
  group: build-binaries-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  PLATFORMS: |-
    linux-glibc-x64
    linux-glibc-arm64
    linux-glibc-armv7
    linux-musl-x64
    linux-musl-arm64
    linux-musl-armv7
    macos-x64
    macos-arm64
    windows-x64
    windows-x86
    windows-arm64

jobs:
  setup-vars:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ inputs.is_workflow_call && inputs.version || '1.0.0' }}
    steps:
      - name: NOOP
        run: echo "Doing nothing"

  build-binaries:
    name: build-binaries-${{ matrix.type }}
    runs-on: ${{ matrix.runner }}
    needs: [setup-vars]
    strategy:
      fail-fast: false
      matrix:
        include:
          - type: 'JIT'
            runner: 'ubuntu-latest'
          - type: 'JITSF'
            runner: 'ubuntu-latest'
          - type: 'AOT-linux-glibc'
            runner: 'ubuntu-latest'
          - type: 'AOT-linux-musl'
            runner: 'ubuntu-latest'
          - type: 'AOT-macos'
            runner: 'macos-latest'
          - type: 'AOT-windows'
            runner: 'windows-latest'
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up .NET SDK
        if: ${{ !startsWith(matrix.type, 'AOT-linux-') }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Set up QEMU
        if: ${{ startsWith(matrix.type, 'AOT-linux-') }}
        uses: docker/setup-qemu-action@v3

      - name: Prepare cross-build containers
        if: ${{ startsWith(matrix.type, 'AOT-linux-') }}
        shell: bash
        run: |
          echo "$PLATFORMS" | while IFS= read -r PLAT; do
            [[ "AOT-$PLAT" != "${{ matrix.type }}"* ]] && continue
            ARCH="$(echo -n "$PLAT" | awk -F '-' '{print $NF}')"
            TARGET="$(echo -n "$PLAT" | sed "s/-${ARCH}//g")"
            ARCH="$(echo -n "$ARCH" | sed 's/x64/amd64/g; s/armv/arm\/v/g')"

            echo "Building cross-build:${PLAT}"
            docker build --build-arg TARGET_ARCH=${ARCH} -t cross-build:${PLAT} - < build/Dockerfile.cross-build-${TARGET}-x
          done

      - name: Build cross-platform JIT
        if: ${{ matrix.type == 'JIT' }}
        shell: bash
        env:
          APP_VERSION: ${{ needs.setup-vars.outputs.version }}
        run: |
          ART_NAME="fileserver-$APP_VERSION-jit-cross-platform"
          dotnet publish src/FileServer -o "artifacts/${ART_NAME}" -p:UseAppHost=false
          pushd artifacts
          zip -rq "${ART_NAME}.zip" $ART_NAME
          tar -czf "${ART_NAME}.tar.gz" $ART_NAME
          popd
          rm -rf "artifacts/${ART_NAME}"

      - name: Build all platforms JIT
        if: ${{ matrix.type == 'JIT' }}
        shell: bash
        env:
          APP_VERSION: ${{ needs.setup-vars.outputs.version }}
        run: |
          echo "$PLATFORMS" | while IFS= read -r PLAT; do
            ART_NAME="fileserver-$APP_VERSION-jit-$PLAT"
            RID="$(echo -n "$PLAT" | sed 's/-armv./-arm/g; s/-glibc//g; s/windows/win/g; s/macos/osx/g')"

            echo "Building $PLAT"
            dotnet publish src/FileServer -o "artifacts/${ART_NAME}" -r $RID -p:PublishTrimmed=true -p:FsPinRuntimeFrameworkVersion=true
            pushd artifacts
            [ "${PLAT:0:8}" == "windows-" ] && zip -rq "${ART_NAME}.zip" $ART_NAME || tar -czf "${ART_NAME}.tar.gz" $ART_NAME
            popd
            rm -rf "artifacts/${ART_NAME}"
          done

      - name: Build all platforms JITSF
        if: ${{ matrix.type == 'JITSF' }}
        shell: bash
        env:
          APP_VERSION: ${{ needs.setup-vars.outputs.version }}
        run: |
          echo "$PLATFORMS" | while IFS= read -r PLAT; do
            ART_NAME="fileserver-$APP_VERSION-jitsf-$PLAT"
            RID="$(echo -n "$PLAT" | sed 's/-armv./-arm/g; s/-glibc//g; s/windows/win/g; s/macos/osx/g')"

            echo "Building $PLAT"
            dotnet publish src/FileServer -o "artifacts/${ART_NAME}" -r $RID -p:PublishTrimmed=true -p:FsPinRuntimeFrameworkVersion=true \
              -p:FsPublishSingleFile=true -p:EnableCompressionInSingleFile=true
            if [ "${PLAT:0:8}" == "windows-" ]; then
              mv "artifacts/${ART_NAME}/FileServer.exe" "artifacts/${ART_NAME}/${ART_NAME}.exe"
              pushd "artifacts/${ART_NAME}" && zip -q "../${ART_NAME}.zip" "${ART_NAME}.exe" && popd
            else
              mv "artifacts/${ART_NAME}/FileServer" "artifacts/${ART_NAME}/${ART_NAME}"
              tar -czf "artifacts/${ART_NAME}.tar.gz" --directory "artifacts/${ART_NAME}" $ART_NAME
            fi
            rm -rf "artifacts/${ART_NAME}"
          done

      - name: Build all architectures AOT
        if: ${{ startsWith(matrix.type, 'AOT-') }}
        shell: bash
        env:
          APP_VERSION: ${{ needs.setup-vars.outputs.version }}
          IS_LINUX: ${{ startsWith(matrix.type, 'AOT-linux-') }}
          IS_MACOS: ${{ matrix.type == 'AOT-macos' }}
          IS_WINDOWS: ${{ matrix.type == 'AOT-windows' }}
        run: |
          echo "$PLATFORMS" | while IFS= read -r PLAT; do
            $IS_LINUX && [[ "AOT-$PLAT" != "${{ matrix.type }}"* ]] && continue
            $IS_MACOS && [ "${PLAT:0:6}" != "macos-" ] && continue
            $IS_WINDOWS && [ "${PLAT:0:8}" != "windows-" ] && continue

            ART_NAME="fileserver-$APP_VERSION-aot-$PLAT"
            RID="$(echo -n "$PLAT" | sed 's/-armv./-arm/g; s/-glibc//g; s/windows/win/g; s/macos/osx/g')"

            echo "Building $PLAT"
            if $IS_LINUX; then
              docker run --rm --pull=never -u $(id -u):$(id -g) -v "`pwd`:/repo" -e APP_VERSION="$APP_VERSION" \
                cross-build:${PLAT} src/FileServer -o "artifacts/${ART_NAME}" -r $RID -p:FsPublishAot=true -p:FsPinRuntimeFrameworkVersion=true
              mv "artifacts/${ART_NAME}/FileServer" "artifacts/${ART_NAME}/${ART_NAME}"
              tar -czf "artifacts/${ART_NAME}.tar.gz" --directory "artifacts/${ART_NAME}" $ART_NAME
            elif $IS_MACOS; then
              dotnet publish src/FileServer -o "artifacts/${ART_NAME}" -r $RID -p:FsPublishAot=true -p:FsPinRuntimeFrameworkVersion=true
              mv "artifacts/${ART_NAME}/FileServer" "artifacts/${ART_NAME}/${ART_NAME}"
              tar -czf "artifacts/${ART_NAME}.tar.gz" --directory "artifacts/${ART_NAME}" $ART_NAME
            elif $IS_WINDOWS; then
              dotnet publish src/FileServer -o "artifacts/${ART_NAME}" -r $RID -p:FsPublishAot=true -p:FsPinRuntimeFrameworkVersion=true
              mv "artifacts/${ART_NAME}/FileServer.exe" "artifacts/${ART_NAME}/${ART_NAME}.exe"
              pushd "artifacts/${ART_NAME}" && "C:/Windows/System32/tar.exe" -acf "../${ART_NAME}.zip" "${ART_NAME}.exe" && popd
            else exit 10; fi
            rm -rf "artifacts/${ART_NAME}"
          done

      - name: Calculate sha256sums
        shell: bash
        run: sha256sum -b artifacts/* | tee artifacts/sha256sums-binaries-${{ matrix.type }}.txt

      - name: Upload sha256sums
        uses: actions/upload-artifact@v4
        with:
          name: sha256sums-binaries-${{ matrix.type }}
          if-no-files-found: error
          path: artifacts/sha256sums-*.txt

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: built-binaries-${{ matrix.type }}
          if-no-files-found: error
          retention-days: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') && 7 || 1 }}
          compression-level: 0
          path: |
            artifacts/*
            !artifacts/sha256sums-*.txt

  test-binaries:
    name: test-binaries (${{ matrix.runner }})
    runs-on: ${{ matrix.runner }}
    needs: [setup-vars, build-binaries]
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - macos-15-intel
          - windows-latest
          - windows-11-arm
    env:
      VERSION: ${{ needs.setup-vars.outputs.version }}
      X_RUNNER_OS_TYPE: >-
        ${{
        startsWith(matrix.runner, 'ubuntu-') && 'linux-glibc' ||
        startsWith(matrix.runner, 'macos-') && 'macos' ||
        startsWith(matrix.runner, 'windows-') && 'windows' ||
        'FAILED_TO_DETERMINE_RUNNER_OS_TYPE'
        }}
      X_RUNNER_ARCH: >-
        ${{
        matrix.runner == 'ubuntu-latest' && 'x64' ||
        matrix.runner == 'macos-15-intel' && 'x64' ||
        matrix.runner == 'windows-latest' && 'x64' ||
        'arm64'
        }}
    steps:
      - name: Download binaries
        uses: actions/download-artifact@v5
        with:
          pattern: built-binaries-*
          path: .
          merge-multiple: true

      - name: Test self-contained binaries
        shell: bash
        run: |
          PLAT="$X_RUNNER_OS_TYPE-$X_RUNNER_ARCH"
          echo "-jit,-jitsf,-aot" | tr ',' '\n' | while IFS= read -r SUFFIX; do
            ART_NAME="fileserver-${VERSION}${SUFFIX}-$PLAT"
            [ "$SUFFIX" == "-jit" ] && EXECUTABLE_PATH="${ART_NAME}/FileServer" || EXECUTABLE_PATH="$ART_NAME"
            [ "$X_RUNNER_OS_TYPE" == "windows" ] && EXECUTABLE_PATH="${EXECUTABLE_PATH}.exe"

            echo "Testing ${VERSION}${SUFFIX}-$PLAT"
            [ "$X_RUNNER_OS_TYPE" == "windows" ] && unzip -q "${ART_NAME}.zip" || tar -xzf "${ART_NAME}.tar.gz"
            "./${EXECUTABLE_PATH}" --usage | grep -e "Version: $VERSION" || exit 10
            "./${EXECUTABLE_PATH}" --usage | grep -e "Commit: ${GITHUB_SHA:0:10}" || exit 11
          done

      - name: Set up .NET 10.0
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Test framework-dependent binaries
        shell: bash
        run: |
          ART_NAME="fileserver-$VERSION-jit-cross-platform"
          [ "$X_RUNNER_OS_TYPE" == "windows" ] && unzip -q "${ART_NAME}.zip" || tar -xzf "${ART_NAME}.tar.gz"
          dotnet "${ART_NAME}/FileServer.dll" --usage | grep -e "Version: $VERSION" || exit 10
          dotnet "${ART_NAME}/FileServer.dll" --usage | grep -e "Commit: ${GITHUB_SHA:0:10}" || exit 11

  merge-sums-binaries:
    runs-on: ubuntu-latest
    needs: [build-binaries]
    steps:
      - name: Download sha256sums
        uses: actions/download-artifact@v5
        with:
          pattern: sha256sums-binaries-*
          path: .
          merge-multiple: true

      - name: Merge sha256sums
        shell: bash
        run: |
          cat sha256sums-binaries-AOT-linux-glibc.txt sha256sums-binaries-AOT-linux-musl.txt \
            sha256sums-binaries-AOT-macos.txt sha256sums-binaries-AOT-windows.txt \
            sha256sums-binaries-JIT.txt sha256sums-binaries-JITSF.txt \
            > sha256sums-binaries.txt

      - name: Upload merged sha256sums
        uses: actions/upload-artifact@v4
        with:
          name: built-binaries-sha256sums
          if-no-files-found: error
          path: sha256sums-binaries.txt
