name: build-push-containers

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      is_pre:
        required: true
        type: string
      is_latest:
        required: true
        type: string
    secrets:
      DOCKERHUB_TOKEN:
        required: true

permissions:
  contents: read

env:
  PLATFORMS: 'linux/amd64,linux/arm64,linux/arm/v7'

jobs:
  setup-vars:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ inputs.version }}
      is_pre: ${{ inputs.is_pre }}
      is_latest: ${{ inputs.is_latest }}
    steps:
      - name: NOOP
        run: echo "Doing nothing"

  build-push-containers:
    name: build-push-containers-${{ matrix.type }}
    runs-on: ubuntu-latest
    needs: [setup-vars]
    strategy:
      fail-fast: false
      matrix:
        include:
          - type: 'JIT'
            suffix: '-jit'
          - type: 'AOT'
            suffix: '-aot'
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build all platforms
        uses: docker/build-push-action@v6
        with:
          context: .
          file: src/FileServer/Dockerfile
          target: app${{ matrix.suffix }}
          build-args: |
            FS_APP_VERSION=${{ needs.setup-vars.outputs.version }}
            FS_PIN_RUNTIME_VERSION=true
          platforms: ${{ env.PLATFORMS }}

      - name: Extract docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.DOCKERHUB_NAMESPACE }}/${{ vars.DOCKERHUB_REPOSITORY }}
          tags: |-
            type=semver,pattern={{version}}
            ${{ needs.setup-vars.outputs.is_pre != 'true' && 'type=semver,pattern={{major}}.{{minor}}' || '' }}
            ${{ needs.setup-vars.outputs.is_latest == 'true' && matrix.suffix == '-jit' && 'type=raw,suffix=,value=latest' || '' }}
          flavor: |
            latest=${{ needs.setup-vars.outputs.is_latest }}
            suffix=${{ matrix.suffix }},onlatest=true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Tag all platforms from build cache and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: src/FileServer/Dockerfile
          target: app${{ matrix.suffix }}
          build-args: |
            FS_APP_VERSION=${{ needs.setup-vars.outputs.version }}
            FS_PIN_RUNTIME_VERSION=true
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
