name: release

on:
  push:
    tags: ['v*.*.*']

permissions: {}

jobs:
  prepare-notes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Prepare release notes
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ vars.REPO_OWNER }}/${{ vars.REPO_NAME }}
        run: |
          VERSION="${GITHUB_REF#refs/tags/v}"
          gh api -H "Accept: application/vnd.github.raw+text" "repos/$REPO/contents/CHANGELOG.md?ref=v${VERSION}" > CHANGELOG.md
          csplit -f CHANGELOG_ CHANGELOG.md '/^## \[[0-9]\+\.[0-9]\+\.[0-9]\+\(-[a-z0-9.]\+\)\?\] - [0-9]\+-[0-9]\+-[0-9]\+/' '{1}'
          mv CHANGELOG_01 NOTES

      - name: Upload release notes
        uses: actions/upload-artifact@v4
        with:
          name: release-notes
          if-no-files-found: error
          path: NOTES

  build-binaries:
    uses: ./.github/workflows/build-binaries.yml
    permissions:
      contents: read

  build-containers:
    uses: ./.github/workflows/build-containers.yml
    needs: [prepare-notes, build-binaries]
    permissions:
      contents: read
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  create-release:
    runs-on: ubuntu-latest
    needs: [prepare-notes, build-binaries, build-containers]
    permissions:
      contents: write
    steps:
      - name: Set up vars
        id: vars
        shell: bash
        run: |
          app_version="${GITHUB_REF#refs/tags/v}"
          echo "app_version=${app_version}" >> $GITHUB_OUTPUT

      - name: Download release notes
        uses: actions/download-artifact@v5
        with:
          name: release-notes
          path: .

      - name: Download release assets
        uses: actions/download-artifact@v5
        with:
          pattern: built-*
          path: assets
          merge-multiple: true

      - name: Create release
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ vars.REPO_OWNER }}/${{ vars.REPO_NAME }}
          VERSION: ${{ steps.vars.outputs.app_version }}
          LATEST: >-
            ${{
            startsWith(steps.vars.outputs.app_version, format('{0}.', vars.LATEST_MAJOR_MINOR))
            && !contains(steps.vars.outputs.app_version, '-')
            }}
        run: |
          gh release create "v${VERSION}" ./assets/* --verify-tag --title "v${VERSION}" -F ./NOTES --latest=$LATEST -R "$REPO"
