name: release

on:
  push:
    tags: ['v*.*.*']

permissions: {}

jobs:
  validate-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Validate tag name
        shell: bash
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          VALID_TAG_REGEX="^v[0-9]+\.[0-9]+\.[0-9]+(-(alpha|beta|rc)\.[0-9]+)?$"
          if ! [[ $TAG =~ $VALID_TAG_REGEX ]]; then
            echo "Invalid tag name '$TAG'"
            exit 1
          fi

  prepare-notes:
    runs-on: ubuntu-latest
    needs: [validate-tag]
    permissions:
      contents: read
    steps:
      - name: Prepare release notes
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ vars.REPO_OWNER }}/${{ vars.REPO_NAME }}
        run: |
          VER="${GITHUB_REF#refs/tags/v}"
          gh api -H "Accept: application/vnd.github.raw+text" "repos/$REPO/contents/CHANGELOG.md?ref=v${VER}" > CHANGELOG.md
          csplit -f CHANGELOG_ CHANGELOG.md '/^## \[[0-9]\+\.[0-9]\+\.[0-9]\+\(-[a-z0-9.]\+\)\?\] - [0-9]\+-[0-9]\+-[0-9]\+/' '{1}'
          mv CHANGELOG_01 NOTES

      - name: Upload release notes
        uses: actions/upload-artifact@v4
        with:
          name: release-notes
          if-no-files-found: error
          path: NOTES

  build-binaries:
    uses: ./.github/workflows/build-binaries.yml
    needs: [validate-tag]
    permissions:
      contents: read

  build-containers:
    uses: ./.github/workflows/build-containers.yml
    needs: [validate-tag, prepare-notes, build-binaries]
    permissions:
      contents: read
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  create-release:
    runs-on: ubuntu-latest
    needs: [validate-tag, prepare-notes, build-binaries, build-containers]
    permissions:
      contents: write
    steps:
      - name: Set up vars
        id: vars
        shell: bash
        run: |
          app_version="${GITHUB_REF#refs/tags/v}"
          echo "app_version=${app_version}" >> $GITHUB_OUTPUT

      - name: Download release notes
        uses: actions/download-artifact@v5
        with:
          name: release-notes
          path: .

      - name: Download release assets
        uses: actions/download-artifact@v5
        with:
          pattern: built-*
          path: assets
          merge-multiple: true

      - name: Create release
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ vars.REPO_OWNER }}/${{ vars.REPO_NAME }}
          VER: ${{ steps.vars.outputs.app_version }}
          PRE: ${{ contains(steps.vars.outputs.app_version, '-') }}
          LATEST: >-
            ${{
            startsWith(steps.vars.outputs.app_version, format('{0}.', vars.LATEST_MAJOR_MINOR))
            && !contains(steps.vars.outputs.app_version, '-')
            }}
        run: |
          gh release create "v${VER}" ./assets/* --verify-tag --title "v${VER}" -F ./NOTES --latest=$LATEST -p=$PRE -R "$REPO"
