name: release

on:
  push:
    tags: ['v*.*.*']

permissions: {}

jobs:
  setup-vars:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.vars.outputs.version }}
      is_pre: ${{ contains(steps.vars.outputs.version, '-') && 'true' || 'false' }}
      is_latest: >-
        ${{
        startsWith(steps.vars.outputs.version, format('{0}.', vars.LATEST_MAJOR_MINOR))
        && !contains(steps.vars.outputs.version, '-')
        && 'true' || 'false'
        }}
    steps:
      - name: Set up vars
        id: vars
        shell: bash
        run: |
          VERSION="${GITHUB_REF#refs/tags/v}"
          VALID_VERSION_REGEX="^[0-9]+\.[0-9]+\.[0-9]+(-(alpha|beta|rc)\.[0-9]+)?$"
          if ! [[ $VERSION =~ $VALID_VERSION_REGEX ]]; then
            echo "Invalid tag name 'v${VERSION}'"
            exit 10
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  prepare-notes:
    runs-on: ubuntu-latest
    needs: [setup-vars]
    permissions:
      contents: read
    steps:
      - name: Prepare release notes
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ vars.REPO_OWNER }}/${{ vars.REPO_NAME }}
          VER: ${{ needs.setup-vars.outputs.version }}
        run: |
          gh api -H "Accept: application/vnd.github.raw+text" "repos/$REPO/contents/CHANGELOG.md?ref=v${VER}" > CHANGELOG.md
          csplit -f CHANGELOG_ CHANGELOG.md '/^## \[[0-9]\+\.[0-9]\+\.[0-9]\+\(-[a-z0-9.]\+\)\?\] - [0-9]\+-[0-9]\+-[0-9]\+/' '{1}'
          mv CHANGELOG_01 NOTES

      - name: Upload release notes
        uses: actions/upload-artifact@v4
        with:
          name: release-notes
          if-no-files-found: error
          path: NOTES

  build-binaries:
    uses: ./.github/workflows/build-binaries.yml
    needs: [setup-vars]
    permissions:
      contents: read

  build-containers:
    uses: ./.github/workflows/build-containers.yml
    needs: [setup-vars, prepare-notes, build-binaries]
    permissions:
      contents: read
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  create-release:
    runs-on: ubuntu-latest
    needs: [setup-vars, prepare-notes, build-binaries, build-containers]
    permissions:
      contents: write
    steps:
      - name: Download release notes
        uses: actions/download-artifact@v5
        with:
          name: release-notes
          path: .

      - name: Download release assets
        uses: actions/download-artifact@v5
        with:
          pattern: built-*
          path: assets
          merge-multiple: true

      - name: Create release
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ vars.REPO_OWNER }}/${{ vars.REPO_NAME }}
          VER: ${{ needs.setup-vars.outputs.version }}
          PRE: ${{ needs.setup-vars.outputs.is_pre }}
          LATEST: ${{ needs.setup-vars.outputs.is_latest }}
        run: |
          gh release create "v${VER}" ./assets/* --verify-tag --title "v${VER}" -F ./NOTES --latest=$LATEST -p=$PRE -R "$REPO"
