name: run-tests

on:
  push:
    branches: ['master']
    paths:
      - 'src/**'
      - 'tests/**'
      - '.editorconfig'
      - 'Directory.Build.props'
      - 'FileServer.sln'
      - 'global.json'
      - '.github/workflows/run-tests.yml'
  pull_request:
    branches: ['master']
    paths:
      - 'src/**'
      - 'tests/**'
      - '.editorconfig'
      - 'Directory.Build.props'
      - 'FileServer.sln'
      - 'global.json'
      - '.github/workflows/run-tests.yml'

concurrency: # head_ref is only defined on pull_request events, run_id is unique for each workflow run
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  run-dotnet-tests:
    name: run-dotnet-tests (${{ matrix.runner }} ${{ matrix.browser }} sdk${{ matrix.netsdkver }} ${{ matrix.netcfg }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, macos-latest, windows-latest]
        browser: [chromium]
        netsdkver: ['10.0']
        netcfg: ['Release']
        include:
          - runner: 'ubuntu-24.04-arm'
            browser: 'firefox'
            netsdkver: '10.0'
            netcfg: 'Debug'
          - runner: 'macos-15-intel'
            browser: 'webkit'
            netsdkver: '10.0'
            netcfg: 'Debug'
          - runner: 'windows-11-arm'
            browser: 'firefox'
            netsdkver: '10.0'
            netcfg: 'Debug'
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up .NET 10.0
        if: ${{ matrix.netsdkver != '10.0' }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Set up .NET SDK ${{ matrix.netsdkver }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.netsdkver }}.x

      - name: Restore solution
        run: dotnet restore

      - name: Build solution
        run: dotnet build -c ${{ matrix.netcfg }} --no-restore

      - name: Format verify solution
        run: dotnet format --verify-no-changes --no-restore

      - name: Run tests
        run: dotnet test tests/FileServer.Tests -c ${{ matrix.netcfg }} --no-build

      - name: Install Playwright
        run: pwsh tests/FileServer.E2ETests/bin/${{ matrix.netcfg }}/net10.0/playwright.ps1 install --with-deps --only-shell ${{ matrix.browser }}

      - name: Run E2E tests
        run: dotnet test tests/FileServer.E2ETests -c ${{ matrix.netcfg }} --no-build -- Playwright.BrowserName=${{ matrix.browser }}

  run-container-tests:
    name: run-container-tests (${{ matrix.runner }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, ubuntu-24.04-arm]
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Run tests
        run: docker build . -f src/FileServer/Dockerfile --target tests

      - name: Run E2E tests
        run: docker build . -f tests/FileServer.E2ETests/Dockerfile

      - name: Run Dockerfile-simple tests
        shell: bash
        run: |
          echo "-jit,-aot" | tr ',' '\n' | while IFS= read -r SUFFIX; do
            echo "Testing simple${SUFFIX}"
            docker build . -f src/FileServer/Dockerfile-simple${SUFFIX} -t fs:simple${SUFFIX}
            docker run --rm --pull=never fs:simple${SUFFIX} --usage | grep -e "Version: 1.0.0" || exit 10
            docker run --rm --pull=never fs:simple${SUFFIX} --usage | grep -e "Commit: ${GITHUB_SHA:0:10}" || exit 11
          done
