name: run-tests

on:
  push:
    branches: ['master']
    paths: ['FileServer**', 'Directory.Build.props', '.editorconfig', 'global.json', '.github/workflows/run-tests.yml']
  pull_request:
    branches: ['master']
    paths: ['FileServer**', 'Directory.Build.props', '.editorconfig', 'global.json', '.github/workflows/run-tests.yml']

concurrency: # head_ref is only defined on pull_request events, run_id is unique for each workflow run
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  run-tests:
    name: run-tests (${{ matrix.runner }} ${{ matrix.browser }} sdk${{ matrix.netsdkver }} ${{ matrix.netcfg }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner: [ubuntu-latest, macos-latest, windows-latest]
        browser: [chromium]
        netsdkver: ['10.0']
        netcfg: ['Release']
        include:
          - runner: 'ubuntu-24.04-arm'
            browser: 'firefox'
            netsdkver: '10.0'
            netcfg: 'Debug'
          - runner: 'macos-15-intel'
            browser: 'webkit'
            netsdkver: '10.0'
            netcfg: 'Debug'
          - runner: 'windows-11-arm'
            browser: 'firefox'
            netsdkver: '10.0'
            netcfg: 'Debug'
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up .NET 10.0
        if: ${{ matrix.netsdkver != '10.0' }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Set up .NET SDK ${{ matrix.netsdkver }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.netsdkver }}.x

      - name: Restore solution
        run: dotnet restore

      - name: Build solution
        run: dotnet build -c ${{ matrix.netcfg }} --no-restore

      - name: Format verify solution
        run: dotnet format --verify-no-changes --no-restore

      - name: Run tests
        run: dotnet test FileServer.Tests -c ${{ matrix.netcfg }} --no-build

      - name: Install Playwright
        run: pwsh FileServer.E2ETests/bin/${{ matrix.netcfg }}/net10.0/playwright.ps1 install --with-deps --only-shell ${{ matrix.browser }}

      - name: Run E2E tests
        run: dotnet test FileServer.E2ETests -c ${{ matrix.netcfg }} --no-build -- Playwright.BrowserName=${{ matrix.browser }}
